
<mat-card appearance="outlined">
  <h1>Czy jest dzisiaj ({{getToday()}}) odskocznia?</h1>
</mat-card>

<div *ngIf="isOdskocznia()">
  <mat-card appearance="outlined" class="odskocznia-true">
    <h2>Jest</h2>
  </mat-card>
  <div class="images">
    <img src="https://c8.alamy.com/comp/2BWXA9N/emoticon-showing-thumb-up-2BWXA9N.jpg">
    <img src="https://www.shutterstock.com/shutterstock/photos/1185663439/display_1500/stock-photo-yellow-thumbs-up-emoji-on-white-isolated-background-d-illustration-1185663439.jpg">
    <img src="https://c8.alamy.com/comp/2BWX7P2/fat-emoticon-showing-thumb-up-2BWX7P2.jpg">
    <img src="https://thumbs.dreamstime.com/z/smiley-face-thumbs-up-14491322.jpg">
    <img src="https://png.pngitem.com/pimgs/s/111-1110771_thumbs-up-emoji-meme-hd-png-download.png">
  </div>
</div>
<div *ngIf="!isOdskocznia()">
  <mat-card appearance="outlined" class="odskocznia-false">
    <h2>Nie ma</h2>
  </mat-card>
  <div class="images">
    <img src="https://www.shutterstock.com/shutterstock/videos/697813/thumb/1.jpg">
    <img src="https://thumbs.dreamstime.com/z/cute-emoticon-thumb-down-emoji-vector-illustration-96526962.jpg">
    <img src="https://www.shutterstock.com/image-illustration/single-3d-emoticon-isolated-on-260nw-55728247.jpg">
    <img src="https://as1.ftcdn.net/v2/jpg/00/01/48/68/1000_F_1486806_i1GuZWgzeJ6GZr1BUmwkPhrAxcQEWB.jpg">
    <img src="https://as1.ftcdn.net/v2/jpg/02/36/32/68/1000_F_236326839_JGt3g9K6rrHoN0F1g4YrNcHPlSS5kJhu.jpg">
  </div>
</div>
